#extension-qrcodes-qrcode {
	background-color: #FFFFFF;
	border-style: none;
	display: none;
	margin: 0;
	opacity: 1;
	transition: opacity .35s ease-out;
	-webkit-transition: opacity .35s ease-out;
	overflow: hidden;
	padding: 0;
	position: absolute;
	transition:;
	z-index: 19999999999;
}

#extension-qrcodes-qrcode:hover {
	opacity: 0.25;
	transition: opacity .35s ease-out;
	-webkit-transition: opacity .35s ease-out;
}

#extension-qrcodes-qrcode img {
	border-style: none;
	margin: 5px;
	padding: 0;
}

@media not print {
	#extension-qrcodes-qrcode {
		position: fixed;
	}
}